In [3]:
import pandas as pd

In [4]:
train = pd.read_csv('./Data/train.csv')
test = pd.read_csv('./Data/test.csv')

In [38]:
train.head()

,id,Category,len,attr_1,attr_2,attr_3,attr_4,attr_5,attr_6,attr_7,attr_8,attr_9,attr_10
0,0,Men Tshirts,5,default,round,printed,default,short sleeves,NaN,NaN,NaN,NaN,NaN
1,1,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN
2,2,Men Tshirts,5,default,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN
3,3,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN
4,4,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN

In [39]:
def image_path(id , train = True):
    path = (6-len(id))*'0' + id + '.jpg'

    return f'./../Data/train_images/{path}' if train else f'./../Data/test_images/{path}'

In [40]:
train['image_path'] = train.apply(lambda x: image_path(str(x['id'])), axis=1)
test['image_path'] = test.apply(lambda x: image_path(str(x['id']) , False), axis=1)

In [41]:
test.head()

   id     Category                        image_path
0   0  Men Tshirts  ./../Data/test_images/000000.jpg
1   1  Men Tshirts  ./../Data/test_images/000001.jpg
2   2  Men Tshirts  ./../Data/test_images/000002.jpg
3   3  Men Tshirts  ./../Data/test_images/000003.jpg
4   4  Men Tshirts  ./../Data/test_images/000004.jpg

In [42]:
train.head()

,id,Category,len,attr_1,attr_2,attr_3,attr_4,attr_5,attr_6,attr_7,attr_8,attr_9,attr_10,image_path
0,0,Men Tshirts,5,default,round,printed,default,short sleeves,NaN,NaN,NaN,NaN,NaN,./../Data/train_images/000000.jpg
1,1,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN,./../Data/train_images/000001.jpg
2,2,Men Tshirts,5,default,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN,./../Data/train_images/000002.jpg
3,3,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN,./../Data/train_images/000003.jpg
4,4,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN,./../Data/train_images/000004.jpg

In [43]:
train['image_path'].head()

0    ./../Data/train_images/000000.jpg
1    ./../Data/train_images/000001.jpg
2    ./../Data/train_images/000002.jpg
3    ./../Data/train_images/000003.jpg
4    ./../Data/train_images/000004.jpg
Name: image_path, dtype: object

In [44]:
train.to_csv('./train.csv', index=False)
test.to_csv('./test.csv', index=False)

In [45]:
category = pd.read_parquet('./Data/category_attributes.parquet')
category.to_csv('./category.csv', index=False)

In [46]:
category['Category']

0            Men Tshirts
1                 Sarees
2                 Kurtis
3          Women Tshirts
4    Women Tops & Tunics
Name: Category, dtype: object

In [5]:
train['Category'].unique()

array(['Men Tshirts', 'Sarees', 'Kurtis', 'Women Tshirts',
       'Women Tops & Tunics'], dtype=object)